table{
    margin-top: 20px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
.narrow-column{
    width: 150px;
}
.wide-column {
    width: 70%; /* Adjust as needed */
  }